* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h1{
  padding: 20px auto;
  margin:10px auto;
  color: #474750;
  border-radius: 2px;
  font-family:monospace;
  color: #f5f6f7;
  text-align: center;
  padding:10px auto;
  margin:8px auto;
  }
   body {
  background-color: #171741;

  } 
  footer{
  text-align: center;
  padding:10px auto;
  margin:8px auto;
  font-family:monospace;
  color: #f5f6f7;
  }
  #map {
    width: 100vw;
    height: 48vw;
    border-radius: 9px;
    background-color: #0d0d24;
    padding: 5px;
  }